<html>
        <head>
            <title>Lubbert Das blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Lubbert Das Blog</a></h1>
            </div>

            <div>
            	{% for post in posts %}
        			<div>
            			<p>published: {{ post.published_date }}</p>
            			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            			<p>{{ post.text|linebreaksbr }}</p>
        			</div>
    			{% endfor %}
            </div>
        </body>
    </html>